**/src/**/*.o
**/src/**/*.d
Makefile.in
*.log
*~
*.bak
**/Makefile 
.autotools
.settings
.dirstamp
autom4te.cache
missing
compile
config.h
aclocal.m4
config.guess
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
stamp-h1
src/eureka
src/leibniz/leibniz
src/Doxyfile
src/api
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
